<form class="needs-validation col-12" {{action "someAction" formdata on="submit"}}>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col"><label>{{input class="form-check-input" type="checkbox" }}</label></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |post|}}
        <tr style="background-color: {{ if post.active "#ccc"}}">
          <th scope="row">{{post.id}}</th>
          <td>{{#link-to "post" post}}  {{ post.title }} {{/link-to}}</td>
          <td>{{ post.date }}</td>
          <td><input class="form-check-input itemcheck" type="checkbox" value={{post.id}} ></td>
        </tr>
      {{else}}
        Sorry no data
      {{/each}}
    </tbody>
  </table>
  <div class="row">
    <div class="form-group m-0 flex-grow-1">
      <select id="selectedAction" class="custom-select" required>
        <option value="">Select Action</option>
        <option value="activate">Activate</option>
        <option value="deactivate">Deactivate</option>
        <option value="delete">Delete</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">do this</button>
  </div>
</form>